# KiCad
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.kicad_sch-bak
*-backups/
*.kicad_prl
*.sch-bak
*~
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache
*#auto_saved_files#
*.lck

production/backups

# macOS system files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
.vscode/

.history
pennyesc-backups
firmware/dynamic_metrics/
firmware/stm32_HAL/
firmware/.project
firmware/.cproject
firmware/.mxproject
firmware/pennyesc_libopencm3/test_results/
firmware/esp32s3demo/__pycache__
firmware/penny-gui-sessions/
firmware/characterization/

__pycache__
*.py[cod]


tools/__pycache__
tools/observer_step_sessions
tools/observer_tune_sessions
.pytest_cache
